
.navbar {
    margin: 0px;
    height: 100%;
    position: fixed;
    background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
    display: flex;
    flex-direction: column;
    color: white;
}

.navbar h2 {
    color: white;
    padding: 20px 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    align-self: center;
}

.btnNav {
    background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: start;
    text-decoration: none;
    align-items: center;
    font-family: inherit;
}

.btnNavHeader{
    background: linear-gradient(90deg, rgb(60, 109, 66) 0%, #26c52c 100%);
    color: white;
    padding: 15px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    align-items: center;
    font-family: inherit;
    text-decoration: none;
    padding:30px;
}

.btnNav:hover {
    background:linear-gradient(90deg, #2c6233 0%, #045a04 100%);
    font-style: oblique;
    text-shadow: black 1px 2px 8px;
}

.btnNavHeader:hover {
    font-style: oblique;
    background:linear-gradient(90deg, #2c6233 0%, #045a04 100%);
    text-shadow: black 1px 2px 8px;


}

footer{
    width: 100%;
    text-align: center;
    margin-top: 100%;
}
