.applied-card {
     border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin:20px;
    text-align: left;
    width: 800px;
    height: 30px;
    font-size: 1rem;
    background:whitesmoke;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.applied-card {
    display: flex;
    flex-direction: row;
}

.applied-card:hover{
    transform: scale(1.02);
    background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
    color: white;
    transition: all 0.2s ease-in-out;
}

.applied-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.infoAppointment {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.applied-title{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 12px;
    color: darkgreen;
}


.infoAppointment{
    color: black; 
    text-decoration: none; 
    font-weight: normal; 
    transition: all 0.2s ease-in-out;
}

.infoAppointment:visited {
    color: black;
}

.infoAppointment:hover {
    font-weight: bolder;
    color: white;
    transform: scale(1.05);
}

.applied-card:hover .infoAppointment{
    color: white;
}

.iconBooking {
    margin-right: 8px;
    margin-left: 20px;
    color: darkgreen;
}

.applied-card:hover .iconBooking{
    color: white;
}