 body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
   background-color: whitesmoke;
 }

 h1 {
   color: darkgreen;
 }


 .containerLogin {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   border-radius: 40px;
   height: 100vh;
   width: 100vw;
 }


 #buttons {
   margin: 20px;
   width: 300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }



 .formLogin {
   display: flex;
   justify-content: center;
   padding: 20px;
   flex-direction: column;
   align-items: center;
   border-radius: 50px;
   width: 40vw;
   height: 50vh;
   background: linear-gradient(90deg, #f1f6f2 0%, #d5eed5 100%);
   box-shadow: whitesmoke 2px 2px 3px;
   border:none;
 }

 .formLogin:hover {
   transform: scale(1.1);
 }

 .formLogin input {
   width: 40%;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
 }

 .btnLogin {
   background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
   color: whitesmoke;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 150px;
   height: 50px;
   font-weight: bold;
   font-size: 1.1rem;
   margin: 20px;
 }

 .btnLogin:hover {
   background: linear-gradient(90deg, #2c6233 0%, #045a04 100%);
   transform: scale(1.05);
 }