
.add-slot-button {
    background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 20px;
}

.add-slot-button:hover {
    background:linear-gradient(90deg, #2c6233 0%, #045a04 100%);
    transform: scale(1.05);
}

.add-slot-form{
    background: linear-gradient(90deg, #f1f6f2 0%, #f3fef6 100%);
    padding: 32px;
    border-radius: 12px;
    width: 30vw;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
}

.btnAddSlot{
    background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 1.1rem;
    align-self: flex-end;
    margin-top: 20px;
}

.btnAddSlot:hover {
    background:linear-gradient(90deg, #2c6233 0%, #045a04 100%);
    transform: scale(1.05);
}

.add-slot-input{
    width: 400px;
    margin-top: 8px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
}

.table-container {
    width: 70vw;
    margin: 40px auto 0 auto;
    justify-content: center; 
}

.table-applicant {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    align-self: center;
}

.table-applicant th,
.table-applicant td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.table-applicant th {
    background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
    color: white;
    font-weight: bold;
}



.table-applicant tr:hover {
    background: #f1f1f1;
    font-weight: 600;
    transform: scale(1.02);
    cursor: default;
}

.view-details-link {
    color: black;
    text-decoration: none;
}

.view-details-link:hover {
    text-decoration: underline;
}