#listingContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.listingCard {
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin:20px;
    text-align: left;
    width: 300px;
    height: 500px;
    font-size: 0.8rem;
    background: whitesmoke;
}

.listingCard:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imageContainer {
    position: relative;
    height: 250px;
}

.listingImage {
    width: 100%;
    object-fit: contain;
    display: block;
    height: 200px;
}

.edit-listing-btn {
    margin-top: auto;
    align-self: flex-end;
    background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
    color: whitesmoke;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
}

.edit-listing-btn:hover {
    background:linear-gradient(90deg, #2c6233 0%, #045a04 100%);
    transform: scale(1.1);
}

.btnNextBefore {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
}

.btnNextBefore:hover {
    color: darkgreen;
}


