
.btnRoommate {
    margin-top: auto;
    align-self: flex-end;
    background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
    color: whitesmoke;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 170px;
    height: 40px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
}

.btnRoommate:hover{
    background:linear-gradient(90deg, #2c6233 0%, #045a04 100%);
    transform: scale(1.1);
}

.roommates{
    align-items: flex-start;
}



.roommates{
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width:90%;
    margin:auto;
    border:none;
    gap:10px;
}

.studentCard {
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin:20px;
    text-align: left;
    width: 300px;
    height: 180px;
    font-size: 1rem;
    background:whitesmoke;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.studentCard:hover{
    transform: scale(1.02);
    background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
    color: white;
    transition: all 0.2s ease-in-out;

}

.infoRoommate {
    display: flex;
    align-items: center;
    margin: 8px;
    align-self: center;
}

.infoRoommate:hover{
    cursor: default;
}

.iconRoommate {
    margin-right: 5px;
}

.infoRoommateInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 45%;
    box-sizing: border-box;
    margin: 10px;
}
.infoRoommate a {
    color: black; 
    text-decoration: none; 
    font-weight: normal; 
    transition: all 0.2s ease-in-out;
}

.infoRoommate a:visited {
    color: black;
}

.infoRoommate a:hover{
    font-weight: bolder;
    color: white;
    transform: scale(1.05);
}

.studentCard:hover .infoRoommate a {
    color: white;
}

.studentCard:hover .studentName {
    font-size: 1.3rem;
    text-decoration: underline;
}