 body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
   background-color: white;
 }

 h1 {
   color: rgb(59, 110, 39);
 }


 .containerSignUp {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   border-radius: 40px;
   height: 100vh;
   width: 100vw;
 }

 #buttons {
   margin: 20px;
   width: 300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }



 .formSignUp {
   display: flex;
   justify-content: center;
   padding: 20px;
   flex-direction: column;
   align-items: center;
   border-radius: 50px;
   width: 60vw;
   height: 70vh;
   background: linear-gradient(90deg, #f1f6f2 0%, #d5eed5 100%);
   box-shadow: whitesmoke 2px 2px 3px;
   border: none;
 }

 .inputData {
   width: 50%;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
 }

 .btnSignUp {
   background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
   color: whitesmoke;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 150px;
   height: 50px;
   font-weight: bold;
   font-size: 1.1rem;
   margin: 20px;
 }

 .btnSignUp:hover {
   background: linear-gradient(90deg, #2c6233 0%, #045a04 100%);
   transform: scale(1.05);
 }

 .role-selection {
   display: flex;
   justify-content: center;
   align-items: center;
   gap:30px
 }

 .role-selection label {
   border: 1px solid darkgreen;
   border-radius: 5px;
   cursor: pointer;
   user-select: none;
   width: 120px;
   padding: 5px 10px;
   font-weight: 800;
   color: darkgreen;
   box-shadow: darkgreen 2px 2px 3px;
   transition: background 0.2s, color 0.3s;
   margin:10px;
 }

 .role-selection label:hover{
   background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
   color: white;
 }



 .role-selection label.selected {
   background: linear-gradient(90deg, #2c6233 0%, #3f9842 100%);
   color: white;
   border-radius: 5px;
 }
